

*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: sans-serif;
    background-image: url(img/redblue.png);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    
    width: 1250px;
    background-color: rgba(0, 0, 0,0.8);
    text-align: center;
    height: 400px;
    border-radius: 20px;
}
.content h1{
        color: #3c00ff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 15px;
}

.content h2{
   
    font-weight: lighter;
    width: 75%;
    margin: 5px auto;
}

.content p{
    text-align: center;
    width: 40%;
    margin: 10px auto;
}

.content{
    padding: 20px;
    
}
.social a {
    padding: 0 0 0 5px;
    text-align: center;
    opacity: 0.5;
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #fff; 
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0 , 0 ,0 ,0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0,0), rgba(0,0,0,0.4));
}

a:hover{
   text-align: center;
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color),
        0 0 25px var(--color),
        0 0 50px var(--color),
        0 0 200px var(--color);    
}

.social{
    padding-top: 80px;
    
}
.button-container {
    position: absolute;
    bottom: 38%;
    display: flex;
    flex-direction: column;
    background-color: rgba(215, 34, 49, 0.2);
    width: 40px;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    border-radius: 100px;
    box-shadow: rgba(215, 12, 12, 0.35) 0px 5px 15px,
          rgba(197, 40, 126, 0.2) 5px 10px 15px;
    
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
  }
  
  .icon {
    font-size: 20px;
  }
